.bg {
  position: relative;
  overflow: hidden;
}

.bg::before {
  content: "";
  position: absolute;
  width: 200%;
  height: 200%;
  top: -50%;
  left: -50%;
  z-index: -1;
  background-image: url(../img/svg/logo.svg);
  background-size: 5%;
  background-color: var(--lightblue);
  background-blend-mode: screen;
  transform: rotate(-15deg);
}

.home {
  min-height: 50vh;
  padding-top: 8rem;
  color: var(--white);
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  overflow: hidden;
}

.home h2 {
  line-height: 1;
}

.hero-object {
  background: url(../img/cutout_c0.png);
  background-size: 100%;
  background-repeat: no-repeat;
  height: 0;
  padding-top: calc(746 / 1297 * 50%);
  max-width: 50%;
  margin: 0 auto;
  margin-top: 2rem;
}

.hero-object:hover {
  background: url(../img/cutout_c.png);
  background-size: 100%;
  background-repeat: no-repeat;
  height: 0;
  padding-top: calc(746 / 1297 * 50%);
}

.hero-object.pinned {
  position: absolute;
  left: 0;
  -webkit-transform: translate(-50%);
  transform: translate(-50%);
}

@media screen and (max-width: 768px) {
  .hero-object,
  .hero-object:hover {
    padding-top: calc(746 / 1297 * 75%);
    max-width: 75%;
  }
}

.home h2 {
  font-size: 5rem;
  margin: 3rem 0;
  text-align: center;
}

@media screen and (max-width: 500px) {
  .bg::before {
    background-size: 10%;
  }
  .home h2 {
    font-size: 3.5rem;
    line-height: 1;
  }
}

.home .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.quicklook {
  text-align: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 3rem;

  z-index: 100;
  background: var(--lightblue);
  outline: 8px solid var(--yellow);
  padding: 2rem;
}

@media screen and (min-width: 768px) {
  .quicklook {
    position: fixed;
    margin: 0 6rem 6rem 0;
    right: 0;
    bottom: 0;
  }
}

.quicklook h4 {
  border: none;
}
.quicklook .openornot {
  font-weight: 700;
}

.quicklook span {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}
.quicklook a {
  color: var(--white);
}
